<h1>Aboot YOWX</h1>

<p>Inspired by <a href="http://wx.ca">wx.ca</a> in Calgary</p>

<p>Powered by this thing from Sparkfun, logging to X and served from Y</p>

<h3>Location</h3>
<p>Located in my backyard in Ottawa</p>
