<h1>Push notifications</h1>



<div class="checkbox">
  <label>
    <input type="checkbox" value="1" id="switch-alerts" />
    Enable push notificaions for admin_all
  </label>
</div>

<script type="text/javascript" src="<%=asset_url('push-main.js')%>"></script>
