<h1>Push notifications</h1>



<div class="checkbox">
  <label>
    <input type="checkbox" value="1" id="switch-alerts" />
    Enable push notificaions for admin_all
  </label>
</div>


<%= javascript_include_tag 'alerts' %>
