

<script type="text/javascript">
  Highcharts.setOptions({
    global: {
      timezoneOffset: <%=Time.zone.utc_offset/ -60 %>
    }
  });

$(function () {

   $.getJSON('<%=url_for(action: 'temperature_readings', controller: 'home')%>', function (jsonData) {

    var yowData = new Array();
    $.each( jsonData.yowReadings, function( key, val ) {
      var temp = (null == val) ? null : parseInt(val);
      yowData.push([Date.parse(key), temp]);

    });

    var windSpeedData = new Array();
    $.each( jsonData.windSpeed, function( key, val ) {
      var speed = (null == val) ? null : parseInt(val);
      windSpeedData.push([Date.parse(key), speed]);
    });

    var hourlyForecast = new Array();
    $.each( jsonData.hourlyForecast, function( key, val ) {
      var temp = (null == val) ? null : parseInt(val);
      hourlyForecast.push([Date.parse(key), temp]);
    });

    var windSpeedForecast = new Array();
    $.each( jsonData.windSpeedForecast, function( key, val ) {
      var speed = (null == val) ? null : parseInt(val);
      windSpeedForecast.push([Date.parse(key), speed]);
    });

    var defaults = {
        chart: {
            type: "line",
            animation: false
        },
        plotOptions: {
            line: {
                animation: false
            }
        },
         xAxis: {
          tickWidth: 1,
          tickInterval: 1000*60*60*1,
          type: 'datetime',
          labels: {
            step:4,
            formatter: function() {
                
                var hours = (new Date(this.value)).getHours();
                var dateFormat = '';
                switch(hours){
                  case 0:
                    dateFormat = '0%p';
                    break;
                  case 12:
                    dateFormat = '%lN <br /> %a';
                    break;
                  default:
                    dateFormat = '%l%p';
                }

                return Highcharts.dateFormat(dateFormat, this.value);
            }
          },
           plotLines: [{
                color: '#bbb',
                dashStyle: 'dash',
                width: 1,
                value: new Date()
            }]
        },
        tooltip: {
            enabled: false
        },
        legend: {
            layout: 'horizontal',
            align: 'right',
            verticalAlign: 'bottom',
            borderWidth: 0
        },

    }


    $('#container-temp').highcharts($.extend({}, defaults, {

        title: {
            text: 'Temperature'
        },
        yAxis: [{ 
            tickInterval: 2,
            title: {
                text: '°C'
            },
            allowDecimals: false
          }, { 
            linkedTo: 0,
            opposite: true,
            title: {
                text: null
            }
        }],
        series: [{
            name: 'YOW',
            color:'#C00',
            data: yowData,
            marker: {
              enabled: false
            }, 
            states: {
              hover: {
                  enabled: false
              }
            }},
            {
            name: 'Forecast',
            dashStyle: 'dot',
            color:'#C00',
            data: hourlyForecast,
            marker: {
              enabled: false
            }, 
            states: {
              hover: {
                  enabled: false
              }
            }
        }]

    }));


    $('#container-wind').highcharts($.extend({}, defaults, {

        title: {
            text: 'Wind'
        },
        yAxis: [{ 
          title: {
              text: 'km/h'
          },
          allowDecimals: false
        },{ 
            linkedTo: 0,
            opposite: true,
            title: {
                text: null
            }
        }],
        series: [{
            name: 'Wind Speed',
            color:'#00C',
            data: windSpeedData,
            yAxis: 0,
            marker: {
              enabled: false
            }, 
            states: {
              hover: {
                enabled: false
              }
            }},
            {
            name: 'Forecast',
            dashStyle: 'dot',
            color:'#00C',
            data: windSpeedForecast,
            yAxis: 0,
            marker: {
              enabled: false
            }, 
            states: {
              hover: {
                  enabled: false
              }
            }
        }]

    }));

  });


});

</script>
<div class="row">
  <div class="col-xs-12">
      <div id="container-temp"></div>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
      <div id="container-wind"></div>
  </div>
</div>

